<!-- for(const el of array) {} -->
<!--

    for(let i = 0; i < pkmns.results.length; i++) {
      console.log(pkmns.results[i]) // {name, url}
    }

    for(let pkmn of pkmns.results) {
      console.log(pkmn) // {name, url}
    }

   -->
<div class="pagination">
  <button *ngFor="let page of displayPageNo" (click)="fetchByPage(page)">
    {{ page + 1 }}
  </button>
</div>
<main *ngIf="pkmns?.results">
  <app-single-pokemon
    *ngFor="let pkmn of pkmns.results"
    [pokemonName]="pkmn.name"
  ></app-single-pokemon>
</main>
