@import "../../../styles/mixins";

nav {
  height: 100px;
  background-color: #dc0a2d;
  padding-inline: 40px;
  display: flex;
  align-items: center;
  justify-content: space-between;
  > * {
    width: 33%;
  }
  .pokedex-buttons {
    display: flex;
    align-items: center;
    gap: 20px;
  }
  .login-button {
    display: flex;
    gap: 10px;
  }

  .button {
    border-radius: 50%;
    transition: 0.3s;
      &:hover {
        transform: rotate(90deg);
      }
    &--big {
      $color: aqua;
      @include button($color, 5px);
      width: 50px;
      height: 50px;

    }
    &--small {
      $color: orange;
      width: 15px;
      height: 15px;
      @include button($color, 2px);

      &:nth-of-type(2) {
        $color: yellow;
        @include button($color, 2px);
      }
      &:nth-of-type(3) {
        $color: green;
        @include button($color, 2px);
      }
    }
  }
  form {
    text-align: center;
     input {
      @include arcadeButton();
      &::placeholder {
        font-family: monospace;
      }
    }
  }
  .user-area {
    display: flex;
    gap: 20px;
    align-items: center;
    justify-content: flex-end;
    .name-area {
      color: white;
      font-weight: bold;
      .pronouns {
        margin-inline-end: 10px;
      }
    }
  }
  button {
    display: inline-block;
    padding: 5px 10px;
    text-decoration: none;
    text-transform: uppercase;
    font-weight: bold;
    @include arcadeButton();
    cursor: pointer;
  }

}
