<app-form [formTitle]="'Login: '">
  <form [formGroup]="loginData" (ngSubmit)="login()">
    <button type="button">Login with Google</button>
    <button type="button">Login with Meta</button>
    <div class="divider">or</div>
    <input
      [ngClass]="{
        'input--error':
          loginData.controls.email.status === 'INVALID' && loginData.touched
      }"
      formControlName="email"
      type="email"
      placeholder="Email"
    />
    <input
      [ngClass]="{
        'input--error':
          loginData.controls.password.status === 'INVALID' && loginData.touched
      }"
      formControlName="password"
      type="password"
      placeholder="Password"
    />
    <button>Login</button>

  </form>

  <div *ngIf="loginError">
    {{ loginError }}
  </div>
</app-form>

<!-- <form onsubmit="submitRobe(event)">
  <input type="text" name="nome">
  <input type="text" name="cognome">
  <input type="text" name="email">
  <input type="text" name="pippo">
</form>

<script>
  const submitRobe = (ev) => {
    ev.preventDefault()
    fetch("", {
      method: "POST",
      body: new FormData(ev.target)
      /* {
        nome: ""
        cognome: ""
        email: ""
        pippos: ""
      }

      */
    })
  }
</script> -->
