<div class="single-pkmn__wrap" *ngIf="pokemon?.id">
  <!-- {
    pippo-forever: "paperino"
  }
  obj.pippo-forever
  obj["pippo-forever"]
-->
  <img
    [src]="pokemon.sprites.other?.['official-artwork']?.front_default"
    alt=""
  />
  <div class="pokemon__info">
    <div class="info__area">
      <h3>{{ pokemonName }}</h3>
      <ul>
        <li *ngFor="let ab of pokemon.abilities">
          {{ ab.ability.name }}
        </li>
      </ul>
    </div>
    <div class="info__details">
      <a [routerLink]="[pokemon.name]">Dettagli</a>
    </div>
  </div>
</div>
