@import "../../../styles/mixins";
:host {
  display: block;
  height: 100%;
  width: 50%;
  @include arcadeButton();
  padding: 20px;
  text-align: center;
  ::ng-deep form {
    display: flex;
    flex-direction: column;
    min-height: 400px;
    gap: 30px;
    height: 60%;
    padding: 20px;
    margin-inline: 10%;
    input:not([type="checkbox"]),
    button,select {
      @include arcadeButton();
      height: 30px;
      font-family: monospace;
      &::placeholder {
        font-family: monospace;
      }

      font-weight: bold;
      background-color: white ;
    }


  }
}
